<nav class="navbar navbar-expand-lg bg-body-dark bg-dark">
    <div class="container-fluid">
        <h5 class="text-light">Employee Management Portal</h5>
        <span class="example-spacer"></span>
        <div class="nav-links">
            <button type="button" class="btn btn-success" (click)="RenderAddEmpModal()" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Add Employee</button>&nbsp;
            <button type="button" class="btn btn-warning" (click)="logOut()">Logout</button>
        </div>
    </div>
</nav>

<div class="container">
    <table class="table table-striped  table-bordered  table-centered mt-3 mb-3">
        <thead class="table-warning">
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @if(empData.length > 0) {
            <tr *ngFor="let employee of empData; let i=index;">
                <td>{{i+1}}</td>
                <td>{{employee?.id}}</td>
                <td>{{employee?.firstName}}</td>
                <td>{{employee?.lastName}}</td>
                <td>{{employee?.email}}</td>
                <td>{{employee?.mobile}}</td>
                <td>
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        (click)="EditEmp(employee)">Edit</button>&nbsp;
                    <button type="button" class="btn btn-danger" (click)="deleteEmp(employee.id)">Delete</button>
                </td>
            </tr>
            }
            @else {
            <td class="text-center p-2" [colSpan]="7" style="border: 1px solid #ccc">No Data Found</td>
            }
        </tbody>
    </table>


</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Employee Details
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="EmpForm">
                    <div class="mb-1">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" formControlName="firstName" />
                    </div>
                    <div class="mb-1">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName" formControlName="lastName" />
                    </div>
                    <div class="mb-1">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" formControlName="email" />
                    </div>
                    <div class="mb-1">
                        <label for="mobile" class="form-label">Mobile Number</label>
                        <input type="number" class="form-control" id="mobile" formControlName="mobile" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" *ngIf="editData" (click)="updateData()">Update</button>
                <button type="button" class="btn btn-success" *ngIf="addData" (click)="addEmp()">
                    Add
                </button>
                <button type="button" class="btn btn-secondary" #closeModal data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>